---
import srcEmpresa1 from '../../assets/empresa1.png'
import srcEmpresa2 from '../../assets/empresa2.png'
import srcEmpresa3 from '../../assets/empresa3.png'
import srcEmpresa4 from '../../assets/empresa4.png'
---
<div class="bg-[#1D1D32] flex p-8 py-20 justify-center flex-wrap gap-8">

<img width="140" src={srcEmpresa1.src} class="object-contain" alt="">
<img width="120" src={srcEmpresa2.src} class="object-contain"  alt="">
<img width="140" src={srcEmpresa3.src} class="object-contain"  alt="">
<img width="140" src={srcEmpresa4.src} class="object-contain"  alt="">


</div>