---

import CarrouselDinamico from "../CarrouselDinamico";
---

<section class="bg-[#202037] overflow-hidden pb-20">
  <div class="container mx-auto px-8 text-white text-center">
    <div class="flex justify-center border-b-2 border-[#343453] ">
    </div> 
  </div>
  <div  class="mt-24">
   
      <CarrouselDinamico client:only="react" />
  </div>

</section>

<style>

</style>
