---
import Banner from "../components/sections/Banner.astro";
import Nosotros from "../components/sections/Nosotros.astro";
import Servicios from "../components/sections/Servicios.astro";
import Opiniones from "../components/sections/Opiniones.astro";
import Layout from "../layouts/Layout.astro";
import Clientes from "../components/sections/Clientes.astro";


---

<Layout title="Welcome to Astro.">
	<main>
		<Banner/>
		<Nosotros/>
		<Servicios/>
		<Opiniones/>
		<Clientes/>
	</main>
</Layout>

<style>
	
</style>
