---
import logo from '../assets/logo.svg';
---

<div class="bg-[#171A30] sticky top-0 shadow-2xl w-full shadow-top shadow-top z-50">
    <nav class="container mx-auto flex justify-between h-20 items-center px-8 w-full">
        <img src={logo.src} class="max-h-8" alt="">
        <ul class="flex text-white font-semibold h-full items-center">
            <li class="cursor-pointer px-8 h-full flex items-center hover:scale-110 hover:bg-black/10 transition-all">Inicio</li>
            <li class="cursor-pointer px-8 h-full flex items-center  hover:scale-110 hover:bg-black/10 transition-all">¿Quienes Somos?</li>
            <li class="cursor-pointer px-8 h-full flex items-center  hover:scale-110 hover:bg-black/10 transition-all">Servicios</li>
            <li class="cursor-pointer px-8 h-full flex items-center  hover:scale-110 hover:bg-black/10 transition-all">Blog</li>
            <li class="cursor-pointer px-8 h-full flex items-center  hover:scale-110 hover:bg-black/10 transition-all">Contáctanos</li>
        </ul>

    </nav>
</>
<style>
    .shadow-top{
        box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.301);
    }
	
</style>
