.mySwiper.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  color:black;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202037;
  
  
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.mySwiper .swiper-pagination-bullets {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.mySwiper .swiper-pagination-bullet {
  text-align: center;
  line-height: 20px;
  color:white;
  opacity: 1;
  background: rgba(121, 117, 245, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.mySwiper .swiper-pagination-bullet-active {
  color: #fff;
  background: rgba(121, 117, 245, 0.8);
}


/* .swiper-slide-active{
  transform: scale(1.4) !important;
} */
.mySwiper .swiper-slide-next{
  opacity: .1;
}
.mySwiper .swiper-slide-prev{
  opacity: .1;
}

.comment-color{
  background: rgba(47, 45, 66, 0.5);
  border-radius: 5px;
}